@import "../../../assets/scss/app.scss";

.verify-email-wrapper {
  .signup-title {
    font-size: 30px;
    font-weight: 600;
  }

  .verify-email-form {
    max-width: 380px;
    margin: 0 auto;
    margin-top: 194px;

    &-content {
      font-size: 14px;
      line-height: 14px;

      &-email {
        color: $color_orange;
      }
    }

    &-input {
      width: 100%;

      font-size: 14px;
      line-height: 19.96px;
      margin-top: 15px;

      p {
        font-weight: 600;
      }

      &-textbox {
        height: 35px;
        width: 100%;

        padding-left: 20px;

        border: 1px solid $color_border;
        box-sizing: border-box;

        text-transform: uppercase;
      }
    }

    &-btn {
      height: 35px;
      width: 100%;
      margin-top: 30px;

      border: none;
      border-radius: 2px;

      color: white;
      background-color: $color_orange;
    }

    &-resend {
      margin-top: 10px;

      &-btn {
        border: none;
        background: #fff;
        font-weight: bolder;
        color: #90ee90;
      }
    }
  }
}
