@import "../../../assets/scss/app.scss";

.signup-wrapper {
  // margin-top: -30px;
  .signup-title {
    font-weight: 600;
    font-size: 30px;
    color: $color_text;
  }
  .card-wrapper {
    // width: 38vw;
    // margin-left: 14%;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .card-signup {
    min-width: 150px;
    min-height: 100px;
    position: relative;
    display: flex;
    align-items: center;
  }
  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    position: absolute;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    outline: none;
  }
  input[type="radio"]:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #f9fafd;
    border-radius: 50%;
    border: 1px solid #e2e6f3;
    top: 7px;
    right: 7px;
    transition: 500ms;
  }
  input[type="radio"]:after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 7px;
    right: 7px;
  }
  .label-card {
    position: absolute;
    cursor: pointer;
    padding-bottom: 15px;
  }
  .card-h5 {
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    margin-top: 5%;
    margin-left: 18px;
    min-width: 105px;
    text-align: center;
  }
  input[type="radio"]:checked {
    border: 1px solid $color_blue;
  }
  input[type="radio"]:checked::after {
    content: "\2713";
    height: 20px;
    width: 20px;
    background: $color_blue;
    color: $color_white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-img {
    margin-top: 30%;
    margin-bottom: 1%;
    margin-left: 40%;
    width: 48px;
    height: 53px;
    object-fit: contain;
  }
  .label-form,
  .label-comfirm {
    font-weight: 600;
    font-size: 12px;
    color: #282830;
    margin-bottom: 4px;
  }
  .label-form {
    margin-top: 21px;
  }
  .label-comfirm {
    margin-top: 31px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: 14px;
    background-color: $bg_gray_input;
    border-radius: 2px;
    border: none;
  }
  .form-wrapper {
    margin: 0 auto;
    max-width: 380px;
  }
  .form-group {
    margin-bottom: 0;
  }
  button[type="submit"] {
    background: $color_button_submit;
    border-radius: 8px;
    color: $color_white;
    font-style: normal;
    font-size: 13px;
    border: solid;
    padding: 8px 0;
  }
  button[type="submit"]:hover {
    color: $color_white;
    opacity: 0.5;
  }
  .text-muted-2,
  .text-muted-1 {
    font-size: 14px;
    color: #666666;
    margin-top: 37px;
  }
  .text-muted-1 {
    span {
      color: $color_blue;
      font-weight: bold;
    }
  }
  .text-muted-2 {
    font-size: 14px;
    margin-left: 15%;
    margin-top: 37px;
    a {
      color: $color_blue;
      font-weight: bold;
    }
  }

  a:link {
    text-decoration: none;
  }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus {
    outline: 0 none;
  }
  .errors {
    color: $color_error;
    font-size: 12px;
    margin: 4px 0 0 0;
  }
  .btn-signup {
    margin-top: 42px;

    button {
      width: 100%;
    }
  }
  .input-group-text {
    width: 40px;
    background-color: $bg_gray_input;
    font-size: 12px;
    height: 100%;
  }
  .input-group-text {
    border: none;
  }
}
