@import "../../../assets/scss/app.scss";

.checkbox {
  padding: 6px 20px;
  display: inline-block;
  border-radius: 20px;
  line-height: 1;
  font-size: 13px;
  background-color: $bg_gray_input;
  cursor: pointer;

  i {
    font-size: 12px;
  }

  input {
    display: none;
  }
}

.checked {
  background-color: $color_blue;
  color: white;
}
