@import "../../../assets/scss/app.scss";

.selectOption,
.selectValue {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.footerMenuList {
  padding: 12px 5px;
  text-align: center;
  color: $color_blue;

  button {
    background-color: transparent;
    border: none;
    color: inherit;
  }
}
