@import "../../../assets/scss/foundation/variable/variable";

.work-exper-none {
  flex: 5;

  margin: 25px 0px 0px 23px;

  &-text {
    font-size: 14px;
    line-height: 20px;

    color: $color_font_base;
  }

  &-edit {
    max-width: 146px;
    margin: 37px auto;

    &-btn {
      width: 100%;
      height: 100%;

      border: 0 !important;
      border-radius: 18px !important;
      background-color: $color_bg_button_bottom !important;

      span {
        color: $color_text_brown;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
