.projectHealth {
  padding: 50px;
  width: 100%;

  &__personas {
    margin-bottom: 78px;
  }

  &__purposePitch {
    margin-bottom: 51px;
  }

  &__projectHealth__purposePitch {
    margin-bottom: 51px;
  }
}