@import "assets/scss/app.scss";

.progressed {
  background-color: $color_white;
  margin: 12px 0 12px;
  .row {
    width: 100%;
    padding: unset;
    margin: unset;
    .col-3 {
      padding: 0 5px 0 0;
    }
  }

  &-item {
    background-color: $bg_progress;
    width: 100%;
    height: 16px;
    border-radius: 2px;
    &-orange {
      height: 100%;
      background-color: $color_blue;
      border-radius: 2px;
      span {
        font-size: 11px;
        line-height: 160%;
        color: $color_white;
        float: right;
      }
    }
  }
}
