@import "../../../../../assets/scss/app.scss";

.statistics-specify {
  height: 130px;
  width: 130px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  align-content: center;

  &__title {
    width: 130px;

    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 5px;

    text-align: center;
    color: $color_white;
  }

  &__content {
    width: 80px;
    height: 80px;
    padding-top: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;

    &-text {
      font-size: 20px;
      font-weight: 600;
      line-height: 29px;

      color: $color_white;

      position: absolute;
      z-index: 3;
    }
  }
}
