@import "../../../assets/scss/app.scss";

.selectedContainer {
  margin-top: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px;
}

.seeMoreBtn {
  padding: 6px 20px;
  display: inline-block;
  border-radius: 20px;
  line-height: 1;
  font-size: 13px;
  background-color: $bg_gray_input;
  color: $color_gray;
  cursor: pointer;
}
