@import "../../../assets/scss/foundation/variable/variable";

.formControl {
  margin-bottom: 20px;
}

.select {
  border-radius: 2px;
}

.label {
  color: #333;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.error {
  color: $color_error;
  margin-top: 5px;
  font-size: 12px;
}

.invalid {
  border: 1px solid $color_error;
}
