@import "../../../assets/scss/app.scss";
$main-color: #DF7112;
.verify-password-wrapper {
  display: flex;
  height: 100%;
  .verify-back-btn {
    background-image: url("../../../assets/images/icons/back-image.svg");
    min-width: 60px;
    height: 60px;
    background-size: 60px 60px;
    cursor: pointer;
  }
  .verify-main {
    margin-left: 50px;
    position: relative;
    width: 100%;
    .verify-reset-title {
      font-weight: 600;
      font-size: 30px;
      line-height: 48px;
      color: #000000;
      height: 60px;
      display: flex;
      align-items: center;
    }
    .verify-form {
      position: absolute;
      bottom: 50px;
      .verify-form-group {
        margin-bottom: 30px;
        .verify-text-form {
          line-height: 22,4px;
          font-size: 14px;
          font-weight: 400;
          color: #3C3737;
          span {
            color: $main-color;
          }
        }
        .verify-digit {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          .verify-private-digit {
            font-size: 14px;
            font-weight: 600;
            color: #333333;
          }
          .verify-resend-digit {
            font-size: 16px;
            font-weight: 400;
            border-bottom: 1px solid #000000;
            cursor: pointer;
            color: #000000;
          }
        }
        .verify-digit-code {
          border-radius: 2px;
          padding: 0 10px;
          width: 100%;
          margin-top: 10px;
          border: 1px solid #757272;
          height: 40px;
        }
        .errors {
          color: #ff1f00;
          font-size: 12px;
          margin: 4px 0 0 0;
        }
      }
      .verify-btn-submit {
        width: 100%;
        border-radius: 2px;
        height: 40px;
        line-height: 24px;
        font-size: 14px;
        font-weight: 500;
        border: solid $main-color;
        background-color: $main-color;
        color: #FFFFFF;
      }
    }
  }
}