@import "../../assets/scss/foundation/variable/variable";
@import "../../assets/scss/app.scss";

.personas-component {
  .personas-title {
    font-size: 22px;
    font-weight: 600;
    color: $color_font_base;
  }

  .personas__progress {
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    .progress__text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $color_project_completion_text;
    }

    .progress__bar {
      flex: 1;
      // max-width: 791px;
      margin-left: 10px;
    }
  }

  .persona-item-option-wrapper {
    display: flex;
    flex-direction: column;
  }

  .customed-persona-item {
    margin-left: 0px !important;
  }

  .persona-item {
    margin-left: 30px;
    @include lg-boostrap-width {
      margin-left: 0px;
    }
    &-icon {
      display: flex;
      justify-content: space-between;

      svg {
        margin-left: 21px;
      }

      img {
        margin-right: -18px;
      }
    }
    .customed-option {
      margin-left: 30px;
      width: auto !important;
    }

    &-option {
      // margin-left: 16px; // note
      width: 100%;
      height: 90px;
      border-radius: 2px;
      border: 1px solid #cecfd0;
      box-sizing: border-box;
      display: flex;
      align-items: center;

      &__icon {
        width: 60px;
        height: 60px;
        margin: 14px 26px 16px 20px;
      }
      &__edit-cover {
        flex-basis: 49px;
      }
      &__edit {
        width: 24px;
        height: 24px;
      }
      &__content {
        flex-grow: 1;
        flex-shrink: 0;
        &-title {
          font-size: 18px;
          font-weight: 600;
          line-height: 26px;
          color: $color_font_base;
          margin: 0;
        }
        &-months-utilization {
          font-size: 12px;
          font-weight: normal;
          line-height: 26px;
          color: $color_font_base;
          margin: 0;
        }
        &-capabilies {
          font-size: 12px;
          font-weight: normal;
          color: $color_font_base;
          margin: 0;
          img {
            width: 22px;
            height: 26px;
            margin: -5px 5px 0 -10px;
          }
          &-span-orange{
            color: #DF7112;
          }
          &-span-green{
            color: #0F7D3E;
          }
        }
      }
      &__number {
        flex-basis: 44%;
        font-weight: 400;
        font-size: 16px;
        color: #000;
        p {
          width: 60px;
          height: 26px;
          line-height: 42px;
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  @media only screen and (max-width: $desktop-width) {
    .customed-option {
      margin-right: 0px !important;
    }

    .persona-item {
      padding-left: 30px;

      &-option {
        // max-width: 600px;
        margin-right: 100px;
        &__number {
          flex-basis: 100px;
        }
      }
    }
  }
  @media only screen and (max-width: $tablet-width) {
    .persona-item {
      padding-left: 20px;
      &-option {
        // max-width: 500px;
        margin-right: 50px;
        &__number {
          flex-basis: 50px;
        }
        &__edit-cover {
          flex-basis: 30px;
        }
      }
    }
  }
  @media only screen and (max-width: $mobile-width) {
    .persona-item {
      padding-left: 10px;
      margin-left: 0;
      &-icon {
        svg {
          margin-left: -9px;
        }
      }

      .customed-option {
        margin-right: 0px !important;
        margin-left: 0px;
      }

      &-option {
        // max-width: 380px;
        padding-left: 15px;
        margin-right: 10px;
        &__number {
          flex-basis: 50px;
        }
        &__edit-cover {
          flex-basis: 30px;
        }
        &__icon {
          display: none;
        }
        &__content-title {
          font-size: 16px;
        }
      }
    }
  }
}
